
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Info</title>

    <!-- Bootstrap core CSS -->
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font fontawesome -->

    <link href="/css/cover.css" rel="stylesheet">
  </head>

  <body class="text-center">

    <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
      <header class="masthead mb-auto">
        <div class="inner">

          <h3 class="masthead-brand"><i class="fa fa-database fa-3x"></i></h3>
          <nav class="nav nav-masthead justify-content-center">


            <a class="nav-link active" href="/">Home</a>
            <a class="nav-link" href="/book.html">Books</a>
            <a class="nav-link" href="/author.html">Authors</a>
            <a class="nav-link" href="/publisher.html">Publisher</a>
            <a class="nav-link" href="/copy.html">Copies</a>


            <form class="form-inline my-2 my-lg-0">
             <input class="form-control mr-sm-2" type="search" placeholder="Search books by title" aria-label="Search">
             <button class="btn btn-outline-warning my-2 my-sm-0" type="submit">Search</button>
            </form>

          </nav>
        </div>
      </header>

     <h5>The purpose of this website is to show Henry's book database in a friendly non-sql interface. It was made for the class COP4710 by Arturo Fernandez using the following technologies:</h5>
     <br>
     NodeJS, Express, MySQL, phpmyadmin, jquery, bootstrap, javascript, html5, and css.
    <br><br>
      For more information please contact me at: afern247@gmail.com

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>&copy; Copyright 2018 Arturo Fernandez <a href="https://m.fiu.edu/catalog/index.php?action=course&subject=COP&number=4710">COP 4710</a> Spring 2018</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/4.0.0/js/bootstrap.min.js"></script>

  </body>
</html>
