
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Publishers</title>

    <!-- Bootstrap core CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.10/js/all.js" integrity="sha384-slN8GvtUJGnv6ca26v8EzVaR9DC58QEwsIk9q1QXdCU8Yu8ck/tL/5szYlBbqmS+" crossorigin="anonymous"></script>
    <link href="https://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Font fontawesome -->

    <style>
        .i-am-centered {
            margin: auto; max-width: 300px;
        }

        body {
            padding-top: 10px;
            border:1px solid black;
            height:600px;
        }

        .mygrid-wrapper-div {
           overflow: scroll;
            height: 80%;
            /* height: 50%; */
            /* position: fixed; */

            width: 100%;
            overflow-x:hidden;
            -ms-overflow-style: none;
            overflow: -moz-scrollbars-none;
        }

        .container::-webkit-scrollbar {
            display: none;
        }



    </style>
    <link href="/css/cover.css" rel="stylesheet">

    <script>

        //   GET publisher
        function get_all() {
            $.ajax({
                url: "http://localhost:3000/publisher/"
            }).then(function (data) {
                generate_table(data.data);
            });
        }

        //   GET /publisher/id
        function get_by_id(id) {
            let my_url = "http://localhost:3000/publisher/" + id + "/";  //  Set the URL
            $.ajax({                                                //  API Call  /id
                url: my_url
            }).then(function (data) {
                fill_before_edit(data);                             // Fills fields before show modal
                $('#myModal').modal('show');                       // Show Modal
            });
        }

        //  Post
        function post_new_item(post_parameters) {
            let my_url = "http://localhost:3000/publisher/";
            $.post(my_url, {
                "publisherCode": post_parameters.publisherCode, "publisherName": post_parameters.publisherName, "city": post_parameters.city
            },
                function (returnedData) {
                    if (returnedData.message == "ER_DUP_ENTRY") {
                        alert("there is already a publisher with this code.");
                    }
                }).fail(function () {
                    if (returnedData.message == 'ER_DUP_ENTRY')
                        alert("fail!...");
                });
        }

        //  Rest Delete
        function delete_item(id) {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/publisher/" + id,
                "method": "DELETE",
            }

            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        }

        // Rest Put
        function update_item(parameters) {
            var settings = {
                "async": true,
                "crossDomain": true,
                "url": "http://localhost:3000/publisher/" + parameters.publisherCode,
                "method": "PUT",
                "data": {
                    "publisherCode": parameters.publisherCode,
                    "publisherName": parameters.publisherName,
                    "city": parameters.city
                }
            }
            $.ajax(settings).done(function (response) {
                console.log(response);
            });
        }


        //  Init page
        $(document).ready(function () {
            get_all();
            get_publishers();
        });

        function btn_edit_click(id) {
            get_by_id(id);
        }

        function btn_save() {
            //  Gets Parameters for Ajax Call
            var parametres = {
                publisherCode: $('#publisherCode').val(),
                publisherName: $('#publisherName').val(),
                city: $('#city').val(),
            };

            let current_status = $('#modal_header').text();

            if ($('#modal_header').text() == 'New Publisher') {
                if (is_valid_data("add_mode")) {
                    post_new_item(parametres);
                    $('#myModal').modal('toggle');
                }
            }

            if ($('#modal_header').text() == 'Edit Publisher') {
                update_item(parametres);
                update_table_row(parametres);
                $("#myModal").modal("hide");
            }
        }
        // update table.
        function update_table_row(parametres) {
            //   Creates the selector by ID
            let selected_row = '#' + parametres.publisherCode;
            //   Creates the new row
            let result = '<td>' + parametres.publisherCode + '</td>';
            result += '<td>' + parametres.publisherName + '</td>';
            result += '<td>' + parametres.city + '</td>';
            result += '<td><button class="btn btn-warning btn-sm"  onclick="refresh_dom(' + "'edit_mode','" + parametres.publisherCode + "'" + ')">Edit</button></td>';   // Edit   button
            result += '<td><button class="btn btn-danger btn-sm"  onclick="btn_delete(' + "'" + parametres.publisherCode + "'" + ')">Delete</button></td>';             //  Delete button
            //  Updates the new Row
            $(selected_row).html(result)
        }

        function btn_delete(id) {
            let conf = confirm('Are you sure yo want to delete this publisher ' + id);
            //  let selected_row = 'table#data_table tr#' + id;
            if (conf == true) {
                delete_item(id);
                let selected_row = '#' + id;
                alert(selected_row);
                $(selected_row).remove();
            }
        }



        function generate_table(records) {
            /**/
            let result;
            result = '<table class="table table-striped table-bordered " id="data_table" cellspacing="10">';
            result = '<tr><th scope="col"> Publisher Code  </th><th>Publisher Name </th><th>City</th></thead>'
            for (i = 0; i < records.length; i++) {
                result += '<tr id="' + records[i].publisherCode + '" >';                                  // Begin Row
                result += '<td>' + records[i].publisherCode + '</td>';    // Field Name
                result += '<td>' + records[i].publisherName + '</td>';  // Field Name
                result += '<td>' + records[i].city + '</td>';  // Field Name


                //Actual edit
                result += '<td><button class="btn btn-warning btn-sm"  onclick="refresh_dom(' + "'edit_mode','" + records[i].publisherCode + "'" + ')">Edit</button></td>';       // Edit   button
                result += '<td><button class="btn btn-danger btn-sm"  onclick="btn_delete(' + "'" + records[i].publisherCode + "'" + ')">Delete</button></td>';   // Delete button
                result += '</tr>';                                 // End Row
            }
            result += '</table>';
            $("#model_list").append(result);
        }

        function refresh_dom(next_status, id_item) {

            //  Cleans all controls before add new record
            $("#error_list").html("");
            if (next_status == 'add_mode') {
                let header_caption = 'New Publisher'
                $('#publisherCode').val("");
                $('#publisherCode').prop('readonly', false);  //  disable the primary Key
                $('#publisherName').val("");
                $('#city').val("");
                $('#modal_header').text(header_caption);
                $('#myModal').modal('show');
            }

            //  Finds the existing record to edit
            if (next_status == 'edit_mode') {
                let my_url = "http://localhost:3000/publisher/" + id_item + "/";  //  Set the URL
                $.ajax({                                                //  API Call   /book/id
                    url: my_url
                }).then(function (data) {
                    //  Fills controls
                    let header_caption = 'Edit Publisher'
                    $('#publisherCode').val(data.data.publisherCode);
                    $('#publisherCode').prop('readonly', true);  //  disable the primary Key
                    $('#publisherName').val(data.data.publisherName);
                    $('#city').val(data.data.city);
                    $('#modal_header').text(header_caption);
                    $('#myModal').modal('show');
                });
            }

        }

        function is_valid_data(current_status) {
            var result = true;
            var error_list = [];
            if ($('#publisherCode').val() == "") {
                error_list.push("publisher code is empty.")
                result = false;
            }

            if ($('#publisherName').val() == "") {
                error_list.push("publisher name is empty.")
                result = false;
            }

            if ($('#city').val() == "") {
                error_list.push("city is empty.")
                result = false;
            }

            if (!result)
                show_errors(error_list);
            return result;
        }



        function show_errors(error_list) {
            var i;
            var ul_item = "<ul>"
            for (i = 0; i < error_list.length; i++) {
                ul_item += "<li>" + error_list[i] + "</li>"
            }
            ul_item += "</ul>"
            $("#error_list").html(ul_item);
            $("#error_list").show();



        }
    </script>


  </head>

  <body class="text-center">

<!-- Menu-->
    <main role="main">
        <div class="inner">
            <h3 class="masthead-brand">
                <i class="fa fa-database fa-3x"></i>
            </h3>
            <nav class="nav nav-masthead justify-content-center">
                <a class="nav-link active" href="/">Home</a>
                <a class="nav-link" href="/book.html">Books</a>
                <a class="nav-link" href="/author.html">Authors</a>
                <a class="nav-link" href="/publisher.html">Publisher</a>
                <a class="nav-link" href="/copy.html">Copies</a>

            </nav>
        </div>
    </main>



<div class="mygrid-wrapper-div container conten" ::-webkit-scrollbar>
    <table class="table">














        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <!-- Trigger the modal with a button -->
                <button type="button" class="btn btn-info btn-sm" onclick="refresh_dom('add_mode', 0 )">New Publisher</button> <!--data-target="#myModal" -->
            </div>
            <div class="col-sm-2"></div>
        </div>
        <div class="col-sm-2"></div>
        <div class="col-sm-8" id="model_list">

        </div>
        <div class="col-sm-2"></div>


        <!-- Modal -->
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content  when you click on add new or update -->
                <div class="modal-content">
                    <div class="modal-header btn btn-info">
                        <h4 class="modal-title btn btn-secondary" id="modal_header">New Publisher</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div id="error_list">
                    </div>
                    <div class="modal-body btn btn-secondary btn-lg active">
                        <!-- publisher Code -->
                        <div class="form-group">
                            <label for="publisherCode">Publisher code</label>
                            <input type="text" class="form-control" id="publisherCode">
                        </div>
                        <!-- publisher Name -->
                        <div class="form-group">
                            <label for="publisherName">Publisher name</label>
                            <input type="text" class="form-control" id="publisherName">
                        </div>
                        <!-- city  -->
                        <div class="form-group">
                            <label for="city">City</label>
                            <input type="text" class="form-control" id="city">
                        </div>

                        <div class="modal-footer btn btn-secondary btn-lg active">
                            <button class="btn btn-info" onclick="btn_save()">OK</button>
                            <button type="button" class="btn btn-info" data-dismiss="modal">Cancel</button>
                        </div>
                    </div>

                </div>
            </div>




















    </table>
</div>
<!-- /container -->









<br><br>

      <footer class="mastfoot mt-auto">
        <div class="inner">
          <p>&copy; Copyright 2018 Arturo Fernandez <a href="https://m.fiu.edu/catalog/index.php?action=course&subject=COP&number=4710">COP 4710</a> Spring 2018</p>
        </div>
      </footer>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    <script src="https://getbootstrap.com/assets/js/vendor/popper.min.js"></script>
    <script src="https://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/4.0.0/js/bootstrap.min.js"></script>

  </body>
</html>
